@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    commit fadaad9827b9345981f209f58675acc69745d509 (HEAD -> relo)
    Author: Kelly Chan <kelly.chan@hdrinc.com>
        Date:   Thu May 16 15:38:52 2024 -0700

        fix add / edit log bug
</p>
