@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    commit 63316f71e345dbe52dc41b957d94b35408c4a724 (HEAD -> relo, gh/relo)
    Author: Kelly Chan <kelly.chan@hdrinc.com>
        Date:   Tue Apr 16 18:39:41 2024 -0700
</p>
