@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    commit 6994370364306026a697ad1b514c2f3a67ec26cf (HEAD -> relo, gh/relo)
    Author: Kelly Chan <kelly.chan@hdrinc.com>
        Date:   Sun Jun 16 20:39:08 2024 -0700

        new parcel logs report
</p>
