@model SiteDecoration
<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <title>@Model.SiteTitle()</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">

    <link rel="dns-prefetch" href="//arcgis.com" />
    <link defer rel="stylesheet" href="https://js.arcgis.com/4.24/esri/css/main.css">

    <!-- bower:css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script type="module" crossorigin src="/assets/atp-rowm.js" asp-append-version="true"></script>
    <link rel="modulepreload" crossorigin href="/assets/atp-rowm-vendor.js" asp-append-version="true">
    <link rel="stylesheet" crossorigin href="/assets/atp-rowm.css" asp-append-version="true">
</head>
<body>

    <div id="application-area">
    </div>

</body>
</html>